.label{
    -fx-font-family: 'High Tower Text';
    -fx-font-size: 32;
    -fx-effect: dropshadow(gaussian, black, 5, 0, 0, 0);
}

.button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 32;
    -fx-pref-height: 75;
    -fx-pref-width: 222;
}

.button:hover{
    -fx-cursor: pointer;
    -fx-text-fill: black;
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.text-field{
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-font-family: 'High Tower Text';
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-text-alignment: center;
}

HBox{
    -fx-background-color: rgba(59, 255, 248, 0.4);
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-font-family: 'High Tower Text';
}